/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* header */
.navbar-tag{
        background-color: rgb(36, 16, 110);
}
.button{
        color: white;
       background-color: rgba(226, 65, 25, 0.864);
       border: none;
       border-radius: 5px;
}
/* header section */
.header-section .h1{
        font-family: 'Poppins', sans-serif;
}
.buttons{ padding: 10px 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        background-color: rgba(226, 65, 25, 0.864);
        border: none;
        border-radius: 5px;
}
/* section-1 */
.titles{
        font-family: 'Poppins', sans-serif;
}
.title{
        color: rgba(226, 65, 25, 0.864);
}
/* section-2 */
.bike-img{
        filter: grayscale(100%);
}
/* section-3 */
.card-2{ 
        border: 1px solid rgb(202, 202, 202);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 35px;
}
.card-text-2{
        padding-left: 35px;
        padding-right: 35px;
}
.card-2-img-top{ 
        width: 149px;
        height: 149px;
        left: calc(50% - 149px/2);
        top: 40px;      
}
.icon{
        color: rgba(226, 65, 25, 0.864);
}       
/* footer */
.footer-tag{ 
        color: cornsilk;
        background-color: rgb(2, 2, 53);
}